.footer {
  width: 100vw;
  color: #333333;
  background-image: url(https://www.pakutaso.com/shared/img/thumb/MONACOIN595_TP_V.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 5vh 5vw;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  color:skyblue;
  padding: 1vh 0;
  font-weight: 900;
  font-size: 20px;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
  margin-right: 17%;
  background-color: rgba(250, 249, 249, 0.60);
  border-radius: 10px;
  padding: 10px 5px;

}

@media screen and (max-width: 400px) {
  .footer-contents {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .footer-contents {
    flex-wrap: wrap;
  }
}


.cuenta-details {
  margin: 0 4vw;
  text-align: left;
}

.footer-content-head {
  font-size: 15px;
  font-weight: 550;
  margin-bottom: 10px;
  color: black;
}

.footer-link {
  color: black;
  font-size: 12px;
  line-height: 30px;
}
