.second-footer {
  width: 100vw;
  height: 220px;
  background-image: url(https://www.pakutaso.com/shared/img/thumb/MONACOIN595_TP_V.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #333333;
  display: flex;
  flex-direction: column;
}

.second-footer-text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-footer-text {
  color: white;
  font-size: 15px;
  font-weight: bolder;
  margin: 20px 10px;
}
