.second-header {
  width: 100vw;
  height: 10vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  color:skyblue;
  padding: 1vh 0;
  font-weight: 900;
  font-size: 22px;
}