<header class='second-header'>
  <div class='second-header-title'>
    <h3>CUENTAへようこそ　資産管理を日常に</h3>
  </div>
  <div class='home-btn'>
    <%= link_to 'ホーム', root_path, class: "root-btn" %>
  </div>
</header>