.main{
  background-image: url(https://www.pakutaso.com/shared/img/thumb/MONACOIN595_TP_V.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  padding: 5vh 5vw;
  min-height: 100vh;
}

.title {
  color:skyblue;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  margin-top: 80px;
}

.account-lists {
  padding: 0 5px;
  width: 60vw;
  margin: 0 auto;
}

.list {
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.link-to-show {
  text-decoration: none;
  color: black ;
}

.account-name {
  font-size: 22px;
  font-weight: bolder;
  padding-bottom: 5px;
  text-decoration: underline;
  text-decoration-color: skyblue;
}

.info {
  display: flex;
  justify-content: space-between
}

.asset-title {
  font-size: 17px;
  font-weight: bolder;
}

.asset, .deposit, .price, .percent { 
  font-size: 22px;
  color: black;
}

.profit-title {
  font-size: 17px;
  font-weight: bolder;
}

