.show-title-content {
  display: flex;
  margin: 0 auto;
  margin-top: 80px;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
}

.show-title {
  color:skyblue;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
}

.edit-btn {
  padding: 0 80px;
  color: skyblue;
  font-weight: bolder;
  font-size: 17px;
  text-decoration: none;
}

.account-info {
  width: 60vw;
  margin: 0 auto;
}

.show-account {
  padding: 10px 40px ;
  border-radius: 10px;
  width: 60vw;
  margin: 15px auto;
  background-color: rgba(255, 255, 255, 0.80)
}

.show-asset, .show-deposit, .show-price, .show-percent {
  font-size: 30px;
  color: rgb(63, 62, 62);
}

/* 資産記録欄 */
.record-space {
  width: 60vw;
  display: flex;
  margin: 0 auto;
}

.record-area {
  background-color: rgba(255, 255, 255, 0.80);
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  width: 29vw;
}

.record-space-title {
  font-size: 17px;
  font-weight: bolder;
  padding-bottom: 10px;
}
/* 資産記入フォーム */
.record-form {
  font-size: 20px;
}

.date-select {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8px;
  justify-content: center;
}

.date-select select {
  width: 6vw;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 7px;
  border: 1px solid #ccc;
  background: rgb(230, 242, 248);
  font-size: 12px;
  cursor: pointer;
}

.date-select p {
  line-height: 50px;
  padding: 0 5px;
  font-size: 15px;
}

.input-amount {
  width: 20vw;
  background-color: rgb(230, 242, 248);
  border-radius: 7px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  align-items: center;
}

.record-space-form {
  text-align: center;
}

.create-record-btn {
  width: 12vw;
  background: skyblue;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;
}

.record-info {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.record-delete-btn {
  border-radius: 8px;
  border: red solid 1px;
  background-color: tomato;
}

.delete-red-btn {
  text-decoration: none;
  color: white;
  padding: 2px;
}