<li class=record-list>
  <div class=record-info>
    <div class='create-date'>
      <h2 class='create-date'>
        <%= asset.date %>
      </h2>
    </div>
    <div class='record-price'>
      <h2 class='asset-price'>¥
        <%= asset.amount %>
      </h2>
    </div>
    <div class='record-delete-btn'>
      <%= link_to "削除", account_asset_path(@account, asset), method: :delete, class: "delete-red-btn" %>
    </div>
  </div>
</li>