<li class=record-list>
  <div class=record-info>
    <div class='create-date'>
      <h2 class='create-date'>
        <%= movement.date %>
      </h2>
    </div>
    <div class='record-price'>
      <h2 class='asset-price'>¥
        <%= movement.amount.to_s(:delimited) %>
      </h2>
    </div>
    <div class='record-delete-btn'>
      <%= link_to "削除", account_movement_path(@account, movement), method: :delete, class: "delete-red-btn" %>
    </div>
  </div>
</li>