<li class=record-list>
  <div class=record-info>
    <div class='create-date'>
      <h2 class='create-date'>
        <%= movement.date %>
      </h2>
    </div>
    <div class='record-price'>
      <h2 class='asset-price'>¥
        <%= movement.amount %>
      </h2>
    </div>
  </div>
</li>